
<main class="page-content__main {{#if indent}} page-content__indent{{/if}}">

  <section class="container login-layout">

    <h2 class="infinite-title">{{title}}</h2>
    <form class="infinite-form infinite-form-validation" novalidate>
      <a class="infinite-link-dark login-link" href='{{href}}'>{{text}}</a>
