.layout-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container-404 {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 25px;
}

.text-404 {
  margin: 10px 0 40px;
  font-weight: 300;
  font-size: 22px;
}

.mx-auto {
  margin-right: auto;
  margin-left: auto;
}

.not-found-image {
  width: 100%;
  min-width: 360px;
  max-width: 750px;
  height: 100%;
  object-fit: contain;
}

picture.not-found {
  margin-top: 80px;
}

@media screen and (max-width: 992px) {
  .container-404 {
    max-width: 720px;
    padding: 0 15px;
  }
}

@media screen and (max-width: 768px) {
  .container-404 {
    max-width: 540px;
  }

  .container-404 .infinite-title-main {
    font-size: 46px;
  }

  .text-404 {
    font-size: 18px;
  }
}

@media screen and (max-width: 576px) {
  .container-404 .infinite-title-main {
    font-size: 36px;
  }

  .text-404 {
    max-width: 350px;
    font-size: 14px;
  }
}

@media screen and (max-width: 387px) {
  .container-404 .infinite-title-main {
    font-size: 32px;
  }

  .text-404 {
    max-width: 350px;
    font-size: 13px;
  }
}
