.authenticity-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #7e7e7e;
  font-size: 18px;
}

.authenticity-title {
  margin-top: 72px;
  margin-bottom: 36px;
  color: #0b0b0b;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.5;
  text-align: center;
}

.authenticity-text {
  color: #a7a7a7;
  font-size: 14px;
  text-align: justify;
}

.authenticity-text:last-child {
  margin-bottom: 72px;
}
