/* @import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900|Roboto:300,400,500,700,900&display=swap'); */

* {
  margin: 0;
  padding: 0;
}

html,
header {
  background-color: #ffffff;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
}

body {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
}

main {
  position: relative;
  z-index: 10;
}

a {
  text-decoration: none !important;
}

header a {
  transition: all 0.3s ease;
}

.container {
  padding: 0 15px;
}

@media (min-width: 1300px) {
  .container {
    max-width: 1270px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
  font-weight: 700;
  font-family: "Playfair Display", serif;
}

li {
  text-decoration: none;
  list-style-type: none;
}

button {
  outline: 0 !important;
}

::placeholder {
  /* Firefox, Chrome, Opera */
  color: #7e7e7e;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #7e7e7e;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #7e7e7e;
}

.current-link {
  position: relative;
  transition: all 0.3s ease;
}

.current-link::before {
  position: absolute;
  top: 50%;
  right: 0%;
  left: 0%;
  display: block;
  height: 1px;
  background-color: #7e7e7e;
  content: "";
}

.current-link:hover::before {
  background-color: #0b0b0b;
}

/* Изображения */

.infinite-image {
  width: 100%;
  object-fit: contain;
}
