.header {
  position: sticky;
  top: 0;
  z-index: 10000;

  &.scroll {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  }

  .fixed-top {
    position: static;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav-text,
.nav-link {
  color: #7e7e7e;
  font-size: 14px;
  text-align: center;
}

.nav-text:hover,
.nav-link:hover {
  color: #0b0b0b;
}

@media screen and (min-width: 1200px) {
  .nav-item:not(:last-child) {
    margin-right: 25px;
  }
}


/*

    Navigation toggler & mobile resposive behavior

*/


.navbar {
  justify-content: space-between;
  padding: 20px 25px;
  background-color: #ffffff;
}

.navbar-collapse {
  flex-grow: 0;
}

.navbar-toggler.collapsed > #mobileMenu {
  width: 20px;
  height: 17px;
  background-image: url("../images/logo/mobile-menu-icon.svg");
}

.navbar-toggler {
  padding: 0;
}

@media screen and (max-width: 991px) {
  .fixed-top {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
  }

  .navbar-brand {
    margin-right: 0;
  }

  .navbar-nav {
    align-items: center;
    justify-content: flex-start;
    height: calc(100vh - 95px);
    padding-top: 80px;
  }

  .nav-link {
    color: #0b0b0b;
    font-weight: 600;
    font-size: 25px;
    font-family: "Playfair Display", serif;
    line-height: 1.6;
  }

  .nav-link:hover {
    color: #7e7e7e;
  }

  .navbar-toggler > #mobileMenu {
    width: 20px;
    height: 17px;
    background-image: url("../images/logo/icon-close.svg");
  }
}


/* Logo */

.brand-logo {
  display: block;
  width: 85px;
  height: 55px;
  background: url("../images/logo/logo-black.svg") no-repeat;
}

/*

    Login, search input and basket
    Stylish

*/

.authorization-layout {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  min-width: 100px;
  background: #ffffff;
}

/* Login */

.authorization-text {
  color: #7e7e7e;
  font-weight: 400;
  font-size: 14px;
  line-height: 15px;
}

/* Search Icon & hover behavior */

.searchbar {
  display: flex;
  justify-content: space-between;
  height: 40px;
  margin: 0 15px;
  background-color: transparent;
  border-radius: 30px;
}

.search_input {
  width: 0;
  color: white;
  line-height: 40px;
  background: none;
  border: 0;
  outline: 0;
  transition: all 0.8s ease-in-out;
  caret-color: transparent;
}

.searchbar:hover {
  background-color: #0b0b0b;
}

.searchbar:hover > .search_input {
  width: 200px;
  padding: 0 10px;
  caret-color: #e74c3c;
}

@media screen and (max-width: 1200px) {

  /* Searchbar */
  .searchbar:hover > .search_input {
    width: 150px;
  }
}

.searchbar:hover > .search_icon {
  color: #0b0b0b;
  background: white;
}

.search_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  color: #7e7e7e;
  border-radius: 50%;
}

/* Basket */

.basket-icon {
  width: 20px;
  height: 20px;
  background: url("../images/logo/shopping-basket.svg") center no-repeat;
  background-size: contain;
}

/*

    End of the Header
    Start of the Footer

*/

/* Общие стили для подвала */

.footer {
  color: #777777;
  background: #0a0a0a;
}

.footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 40px 0;
}

.footer-logo-link,
.footer-logo {
  height: 100%;
}

/* Стилизация меню футера */

.footer-menu {
  margin: 0;
  padding: 0;
}

.footer-nav {
  display: grid;
  grid-template-rows: 55.2px;
  grid-template-columns: repeat(4, max-content);
  align-content: center;
  justify-content: center;
  /* flex-wrap: wrap; */
}

.footer-link {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #7e7e7e;
  font-weight: 500;
  font-size: 14px;
  transition: all 0.3s ease-out;
}

.footer-link:hover {
  color: #d3d3d3;
}

@media screen and (max-width: 992px) {
  .footer-container {
    padding: 70px 0 40px;
  }

  .footer-nav {
    margin: 20px 0;
  }
}

@media screen and (max-width: 382px) {
  .footer-nav {
    grid-template-rows: repeat(2, 45.2px);
    grid-template-columns: repeat(2, max-content);
    margin: 40px 0;
    text-align: center;
  }

  .footer-link {
    justify-content: center;
  }
}

/* Сслыки на социальные сети */

.footer-socials {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.socials-container {
  display: flex;
  justify-content: flex-end;
  text-align: center;
}

.social-link {
  position: relative;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  overflow: hidden;
  color: #7e7e7e;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px #00000070;
}

.social-link:nth-child(2) {
  margin-right: 10px;
  margin-left: 10px;
}

.social-link i {
  font-size: 24px;
  line-height: 40px;
  transition: 0.2s linear;
}

.social-link:hover i {
  // color: #f1f1f1;
  color: #0b0b0b;
  transform: scale(1.2);
}

.social-link::before {
  position: absolute;
  top: 90%;
  left: -110%;
  width: 120%;
  height: 120%;
  background-color: #7e7e7e;
  transform: rotate(45deg);
  content: "";
}

.social-link:hover::before {
  top: -10%;
  left: -10%;
  animation: socialsIconHover 0.7s 1;
}

@keyframes socialsIconHover {
  0% {
    top: 90%;
    left: -110%;
  }

  50% {
    top: -30%;
    left: 10%;
  }

  100% {
    top: -10%;
    left: -10%;
  }
}

.footer-text {
  margin-bottom: 0;
  font-weight: 500;
  font-size: 11px;
}

@media screen and (max-width: 992px) {
  .footer-logo-container,
  .footer-socials {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
