.page-content {
  display: flex;
  flex-direction: column;
  width: 100%;

  &__header,
  &__footer {
    flex: 0 0;
  }

  &__main {
    flex: 1 1 auto;
  }
}

.page-content__indent {
  width: 100%;
  margin: 70px auto;
}
