.layout-404 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
    text-align: center;
}

.text-container-404 {
    max-width: 750px;
}

.text-404 {
    margin: 10px 0 40px;
    font-size: 22px;
    ;
    font-weight: 300;
}

.not-found-image {
    width: 100%;
    max-width: 750px;
    height: 100%;
    min-width: 360px;
    object-fit: contain;
}

picture.not-found {
    margin-top: 80px;
}

@media screen and (max-width: 768px) {
    .text-container-404 .infinite-title-main {
        font-size: 46px;
    }

    .text-404 {
        font-size: 18px;
    }
}

@media screen and (max-width: 576px) {
    .text-container-404 .infinite-title-main {
        font-size: 36px;
    }

    .text-404 {
        font-size: 14px;
        max-width: 350px;
    }
}

@media screen and (max-width: 387px) {
    .text-container-404 .infinite-title-main {
        font-size: 32px;
    }

    .text-404 {
        font-size: 13px;
        max-width: 350px;
    }
}