.authenticity {
    padding: 70px 0;
    background: #0b0b0b;
}

.authenticity-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.authenticity-text {
    margin-bottom: 35px;
    text-align: center;
    line-height: 55px;
    font-size: 38px;
    font-weight: 400;
    color: #fff;
}

/* Buttons */

.button-white {
    color: #0b0b0b;
    background: #fff;
}

@media screen and (max-width: 992px) {

    .authenticity-text {
        font-size: 28px;
        line-height: 45px;
    }

}

@media screen and (max-width: 767px) {

    .authenticity-text {
        font-size: 24px;
        line-height: 35px;
    }

}

@media screen and (max-width: 567px) {

    .authenticity {
        padding: 50px 0;
        background: #0b0b0b;
    }

    .authenticity-text {
        font-size: 24px;
        line-height: 35px;
    }

    .btn-authenticity {
        max-width: 160px;
        font-size: 11px;
        padding: 12px 0;
    }

}