.browse {
    margin: 70px auto;
}

.browse-top-line {
    margin-bottom: 45px;
}

.browse-main-top {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.browse p {
    margin-bottom: 0;
}

/* Контейнеры книопок и фильтрации */

.filter-brands {
    /* background: pink; */
}

.browse-select {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 15px 0 30px ;
}

/* Стилизуем кнопки выбора */

.browse-button {
    margin: 5px 5px 5px 0;
    border: 1px solid #a7a7a7b0;
    color: #a7a7a7;
    border-radius: 0;
    box-shadow: 0;
    outline: 0;
}

.brands-button {
    width: calc(50% - 5px);
    padding: 15px;
}

.size-button {
    width: calc(20% - 5px);
    padding: 10px;
}

.brands-button:hover,
.size-button:hover {
    background: #F2F2F2;
    border: 1px solid #a7a7a7dc;
    color: #696969;
}

.brands-button.active,
.size-button.active {
    border: 1px solid #0b0b0b;
    background-color: #0b0b0b;
    color: #fff;
    box-shadow: none;
}

.btn.focus,
.btn:focus {
    box-shadow: none;
}

/* Календарь */

.form-group.browse-select {
    max-width: 100%;
}

#datetimepicker {
    width: calc(100% - 5px);
    font-family: "Roboto", sans-serif;
}

.input-group-text,
.input-group-text:focus {
    background: #0b0b0b;
    outline: none;
    color: #fff;
    font-size: 14px;
    border: none;
    border-radius: 0;
}

input.datetimepicker-input {
    background: #fff;
    border-radius: 0;
    border: 1px solid #a7a7a7dc;
}

input.datetimepicker-input:focus {
    outline: none;
    box-shadow: none;
    border-color: #0b0b0b;
}