* {
    margin: 0;
    padding: 0;
}

html,
header {
    background: rgb(250, 250, 250);
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

main {
    position: relative;
    z-index: 10;
    margin-top: 95px;
}

.container {
    padding: 0 25px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

li {
    text-decoration: none;
    list-style-type: none;
}

.bg-white {
    background: #fff;
    z-index: 100;
}