* {
    margin: 0;
    padding: 0;
}

html,
header {
    background: rgb(250, 250, 250);
}

body {
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
}

main {
    position: relative;
    z-index: 10;
    margin-top: 95px;
}

a {
    text-decoration: none !important;
}

/* a:hover,
a:focus {
    color: #e74c3c;
} */

.container {
    padding: 0 25px;
}

@media (min-width: 1200px) {
    .container {
        max-width: 1190px;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
}

li {
    text-decoration: none;
    list-style-type: none;
}

button {
    outline: 0 !important;
}

::placeholder { /* Firefox, Chrome, Opera */ 
    color: #7e7e7e;
} 
  
:-ms-input-placeholder { /* Internet Explorer 10-11 */ 
    color: #7e7e7e;
} 
  
::-ms-input-placeholder { /* Microsoft Edge */ 
    color: #7e7e7e;
} 