.header {
    height: 95px;
}

.nav {
    display: flex;
    justify-content: space-between;
}

.nav-text,
.nav-link {
    color: #7e7e7e;
    font-size: 14px;
    text-align: center;
}

.nav-text:hover,
.nav-link:hover {
    color: #0b0b0b;
}

@media screen and (min-width: 1200px) {

    .nav-item:not(:last-child) {
        margin-right: 25px;
    }
}


/* 

    Navigation toggler & mobile resposive behavior
    
*/


.navbar {
    justify-content: space-between;
    padding: 20px 25px;
    background-color: #fff;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-toggler.collapsed > #mobileMenu {
    width: 20px;
    height: 17px;
    background-image: url('../images/logo/mobile-menu-icon.svg') ;
}

.navbar-toggler {
    padding: 0;
}

@media screen and (max-width: 991px) {
    .fixed-top {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .navbar-brand {
        margin-right: 0;
    }

    .navbar-nav {
        justify-content: flex-start;
        align-items: center;
        margin-top: 35px; 
        height: calc(100vh - 90px);
    }

    .nav-link {
        font-size: 25px;
        font-family: 'Playfair Display', serif;
        line-height: 1.6;
        color: rgba(63, 63, 63, 0.678);
        font-weight: 600;
    }

    .nav-link:hover {
        color: #3F3F3F;
    }

    .navbar-toggler > #mobileMenu {
        width: 20px;
        height: 17px;
        background-image: url('../images/logo/icon-close.svg');
    }
}


/* Logo */

.brand-logo {
    display: block;
    width: 85px;
    height: 55px;
    background: url("../images/logo/logo-black.svg") no-repeat;
}

/* 

    Login, search input and basket
    Stylish
    
*/

.authorization-layout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 100px;
    background: #fff;
}

/* Login */

.authorization-text {
    line-height: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #7e7e7e;
}

/* Search Icon & hover behavior */

.searchbar {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: all .8s ease-in-out;
}

.searchbar:hover {
    background-color: #0b0b0b;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 200px;
    caret-color: #e74c3c;
}

@media screen and (max-width: 1200px) {
    /* Searchbar */
    .searchbar:hover>.search_input {
        width: 150px;
    }
}

.searchbar:hover>.search_icon {
    background: white;
    color: #0b0b0b;
}

.search_icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #7e7e7e;
}

/* Basket */

.basket-icon {
    width: 20px;
    height: 20px;
    background: url("../images/logo/shopping-basket.svg") center no-repeat;
    background-size: contain;
}

/* 

    End of the Header 
    Start of the Footer 
    
*/

/* Общие стили для подвала */

.footer {
    
    background: #0a0a0a;
    color: #777777;
}

.footer-container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-logo-link, .footer-logo {
    height: 100%;
}

/* Стилизация меню футера */

.footer-menu {
    padding: 0;
    margin: 26px 0 16px;
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.footer-link {
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 500;
    margin: 0 10px;
    transition: all .3s ease-out;
}

.footer-link:hover {
    color: #d3d3d3;
}

/* Сслыки на социальные сети */

.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
} 

.socials-container {
    display: flex;
    justify-content: flex-end;
    text-align: center;
}

.social-link {
    position: relative;
    width: 40px;
    height: 40px;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0 5px 15px -5px #00000070;
    overflow: hidden;
    color: #7e7e7e;
}

.social-link:nth-child(2) {
    margin: 10px 0;
}

.social-link i {
    line-height: 40px;
    font-size: 24px;
    transition: .2s linear;
}

.social-link:hover i {
    transform: scale(1.2);
    color: #f1f1f1 ;
    color: #0b0b0b;
}

.social-link::before {
    content: '';
    position: absolute;
    top: 90%;
    left: -110%;
    width: 120%;
    height: 120%;
    transform: rotate(45deg);
    background-color: #7e7e7e;
}

.social-link:hover::before {
    animation: socialsIconHover .7s 1;
    top: -10%;
    left: -10%;
}

@keyframes socialsIconHover {
    0% {
        top: 90%;
        left: -110%;
    }

    50% {
        top: -30%;
        left: 10%;
    }

    100% {
        top: -10%;
        left: -10%;
    }
}

.footer-text {
    font-size: 12px;
    font-weight: 500;
    margin-bottom: 0;
}

@media screen and (max-width: 992px) {
    .footer-logo-container, .footer-socials {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
