.header {
    background: #fff;
}

/*  */

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-text, .nav-link {
    color: #9d9d9d;
    font-size: 13px;
}

.nav-item:not(:last-child) {
    margin-right: 25px;
}

/*  */

.brand-layout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
    width: 100%;
    min-width: 100px;
    background: rgb(204, 107, 107);
    background: #fff;
}

.brand-logo {
    display: block;
    width: 85px;
    height: 55px;
    background: url("../images/logo/logo-black.svg") no-repeat;
}

/*  */

.menu-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: rgb(173, 156, 58);
    background: #fff;
}

.header-menu {
    display: flex;
    margin: 0;
}

/*  */

.authorization-layout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 100px;
    background: rgb(90, 173, 58);
    background: #fff;
}

.authorization-text {
    line-height: 15px;
    font-size: 13px;
    font-weight: 400;
    color: #9d9d9d;
}

.search-icon {
    height: 20px;
    color: #000;
}

.basket-icon {
    width: 20px;
    height: 20px;
    background: url("../images/logo/shopping-basket.svg") center no-repeat;
    background-size: contain;
}


.navbar {
   justify-content: space-between !important;
   padding: 20px 0;
}

.navbar-collapse {
    flex-grow: 0;
}

#mobileMenu {
    width: 20px;
    height: 17px;
    background-image: url('../images/logo/mobile-menu-icon.svg') !important;
}

.navbar-toggler {
    padding: 0;
}

.navbar-light .navbar-toggler {
    font-size: 0;
    border: none;
}

@media screen and (max-width: 992px) {
    .header {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05); 
    }

    .navbar-brand {
        margin-right: 0;
    }
}