.header {
    background: #fff;
}

/*  */

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nav-text,
.nav-link {
    color: #7e7e7e;
    font-size: 14px;
}

.nav-text:hover,
.nav-link:hover {
    color: #202020;
}


@media screen and (min-width: 1200px) {

    /* Margin in nav-links */
    .nav-item:not(:last-child) {
        margin-right: 25px;
    }
}


/*  */

.brand-layout {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 200px;
    width: 100%;
    min-width: 100px;
    background: #fff;
}

.brand-logo {
    display: block;
    width: 85px;
    height: 55px;
    background: url("../images/logo/logo-black.svg") no-repeat;
}

/*  */

.menu-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background: #fff;
}

.header-menu {
    display: flex;
    margin: 0;
}

/* 

    Login, search input and basket
    Stylish
    
*/

.authorization-layout {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 100px;
    background: #fff;
}

/* Login */

.authorization-text {
    line-height: 15px;
    font-size: 14px;
    font-weight: 400;
    color: #7e7e7e;
}

/* Search Icon & hover behavior */

.searchbar {
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    height: 40px;
    background-color: transparent;
    border-radius: 30px;
}

.search_input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color: transparent;
    line-height: 40px;
    transition: all .8s ease-in-out;
}

.searchbar:hover {
    background-color: #0b0b0b;
}

.searchbar:hover>.search_input {
    padding: 0 10px;
    width: 200px;
    caret-color: #e74c3c;
    /* transition: all .8s ease-in-out; */
}

@media screen and (max-width: 1200px) {
    /* Searchbar */
    .searchbar:hover>.search_input {
        width: 150px;
    }
}

.searchbar:hover>.search_icon {
    background: white;
    color: #e74c3c;
}

.search_icon {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #0b0b0b;
}

/* Basket */

.basket-icon {
    width: 20px;
    height: 20px;
    background: url("../images/logo/shopping-basket.svg") center no-repeat;
    background-size: contain;
}


/* 

    Navigation toggler & mobile resposive behavior
    
*/


.navbar {
    justify-content: space-between !important;
    padding: 20px 0;
}

.navbar-collapse {
    flex-grow: 0;
}

#mobileMenu {
    width: 20px;
    height: 17px;
    background-image: url('../images/logo/mobile-menu-icon.svg') !important;
}

.navbar-toggler {
    padding: 0;
}

.navbar-light .navbar-toggler {
    font-size: 0;
    border: none;
}

@media screen and (max-width: 992px) {
    .header {
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.05);
    }

    .navbar-brand {
        margin-right: 0;
    }
}