/* 

 Стилизуем первый контейнер. 

*/

.intro-container {
    overflow: hidden;
}

.intro {
    padding-bottom: 100px;
}

/* Left Column */

.description-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 370px;
    height: 100%;
    padding: 20px 0 0;
}

.description-title {
    font-size: 50px;
    line-height: 62px;
    margin-bottom: 20px;
}

.description-text {
    color: #a7a7a7;
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 35px;
    max-width: 300px;
}

.description-btn {
    width: 190px;
    height: 52px;
    padding: 18px 35px;
    font-size: 13px;
    letter-spacing: 0.2px;
    font-weight: normal;
    color: #fff;
    text-align: center;
    background-color: #0b0b0b;
    cursor: pointer;
    border: 0;
    -webkit-transition: color 0.5s;
    -o-transition: color 0.5s;
    transition: color 0.5s;
    box-sizing: border-box;
}

/* Right Column */


.animate-container {
    display: grid;
    grid-template-columns: minmax(170px, 360px) minmax(180px, 390px);
    grid-template-rows: repeat(2, minmax(130px, 275px));
    justify-content: center;
    padding: 25px 0 0;
}

.animate {
    position: relative;
    width: 100%;
    animation: 5s cubic-bezier(.25, .25, .25, .5) infinite alternate;
    object-fit: contain;
    grid-row: 1 / 3;
}

.leftSneaker {
    align-self: start;
    animation-name: leftSneaker;
}

.rightSneaker {
    align-self: end;
    animation-name: rightSneaker;
}

/* Animations for our Sneakers */

@keyframes leftSneaker {
    from {}

    to {
        transform: translateX(20px) translateY(-10px);
    }
}

@keyframes rightSneaker {
    from {
        transform: translateX(-10px) translateY(-8px);
    }

    to {
        transform: translateX(-34px) translateY(-30px);
    }
}

/* End of Animations */

/* Responsive */

@media (min-width: 992px) and (max-width: 1199px) {
    .animate-container {
        grid-template-rows: repeat(2, minmax(130px, 225px));
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .animate-container {
        grid-template-columns: minmax(130px, 315px) minmax(150px, 315px);
        grid-template-rows: repeat(2, minmax(130px, 225px));
    }
}

@media screen and (max-width: 767px) {
    .animate-container {
        grid-column-gap: 20px;
        grid-template-columns: minmax(130px, 250px) minmax(150px, 250px);
        grid-template-rows: repeat(2, minmax(130px, 195px));
        padding: 30px 0 0;
    }
}

@media screen and (max-width: 500px) {
    .animate-container {
        grid-column-gap: 8vmin;
        grid-template-columns: repeat(2, minmax(80px, 195px));
        grid-template-rows: repeat(2, minmax(130px, 135px));
    }
}

@media screen and (max-width: 400px) {
    .animate-container {
        grid-template-columns: repeat(2, minmax(190px, 195px));
        grid-template-rows: repeat(2, minmax(130px, 135px));
    }
}

/* End Resposive for intro-container */

/* 

 Стилизуем второй контейнер. 

*/

.releases-line {
    align-items: center;
    margin-bottom: 45px;
}

.releases-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
}

.releases-item {
    font-family: "Roboto", serif;
}

.releases-item-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 20px;
    transition: all .3s ease;
    overflow: hidden;
}

.releases-item-link:hover {
    box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.116);
    /* transform: scale(1.15); */
}

.releases-image {
    max-width: 150px;
    height: 140px;
}

.releases-item p {
    margin-bottom: 0;
}

.releases-title {
    font-size: 16px;
    font-weight: 800;
    color: #0b0b0b;
}

.releases-value {
    margin-top: 4px;
    color: #a7a7a7;
    font-size: 13px;
}

.releases-cost {
    margin-top: 6px;
    font-size: 12px;
    color: #0b0b0b;
}

@media (min-width: 993px) and (max-width: 1199px) {

    .releases-item {
        width: calc(100% / 6);
    }

}

@media screen and (max-width: 992px) {

    main {
        overflow: hidden;
    }

    .releases-item {
        width: calc((100% / 3) - 30px);
        margin: 0 0 15px;
    }

    .description-column {
        text-align: center;
    }

    .description-title {
        font-size: 36px;
        line-height: 46px;
    }

    .description-text {
        font-size: 14px;
        margin: 0 auto 35px;
        max-width: 300px;
    }

    .description-btn {
        margin: 0 auto;
    }

    .releases-container {
        align-content: center;
        flex-wrap: wrap;
        padding: 0;
    }
}

@media screen and (max-width: 568px) {
    .releases-item {
        width: calc(100% / 2);
        /* transform: scale(1.05); */
    }

    .releases-image {
        width: 120px;
    }
}