/* Стилизация страницы для Входа */

.login-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 70px auto;
}

.infinite-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 320px;
    width: 100%;
}

.login-link {
    margin: 25px 0 45px;
}

.form-group {
    margin-bottom: 25px;
    width: 100%;
    max-width: 320px;
}

.form-text {
    font-size: 10px;
}

.form-field{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: 52px;
    max-width: 350px;
    width: 100%;
    padding: 18px 20px;
    color: #0b0b0b;
    font-size: 13px;
    border: 1px solid #e3e3e3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

small {
    font-size: 13px;
    font-weight: 300;
}

/* Кнопки форм */

.infinite-button.login-button {
    font-size: 13px;
    max-width: 320px;
    width: 100%;
}

.login-button:hover {
    outline: 1px solid #0b0b0b !important;
}

.login-light-button {
    margin-top: 25px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #e3e3e3;
    cursor: pointer;
    color: #0b0b0b;
    outline: 1px solid transparent;
    -webkit-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s;
}

.login-light-button:hover {
    outline: none !important;
    background-color: #cccccc;
}


/* Стилизация страницы создания аккаунта */


.form-paragraph {
    width: 90%;
    margin-bottom: 25px;
    text-align: center;
    color: #7e7e7e;
    font-size: 13px;
}

.form-links {
    color: #0b0b0b;
    font-weight: 500;
}

.form-links:hover {
    color: #0b0b0bb4;
}


/* Потерянный пароль */

.container-center {
    position: absolute;
    top: 10%;
    left: 50%;
    max-width: 320px;
    transform: translate(-50%);
}

.lost-text {
    padding: 15px 25px;
    margin-bottom: 25px;
    border-left: 5px solid #0b0b0b;
    font-size: 13px;
    color: #7e7e7e;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.lost-form {
    padding: 25px;
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
}

.lost-button {
    padding: 12px 0;
    margin-bottom: 25px;
}

.lost-form  .form-text {
    color: #0b0b0b;
    font-size: 13px;
}

.lost-form  .form-text:hover {
    color: #0b0b0ba4;
}