/* Major Headings */


.infinite-title-main {
    font-size: 50px;
    line-height: 62px;
    text-transform: capitalize;
}

.infinite-title {
    margin-bottom: 0;
    font-size: 40px;
    color: #0b0b0b;
    line-height: 50px;
    font-weight: 700;
    text-transform: capitalize;
}


/* Regular Text */


.infinite-header {
    font-size: 28px;
    font-weight: 700;
    text-transform: capitalize;
    color: #0b0b0b;
}

.infinite-header-small {
    font-size: 18px;
    font-weight: bolder;
    text-transform: capitalize;
    color: #0b0b0b;
    font-family: "Roboto", sans-serif;
}

.infinite-text {
    font-size: 14px;
    font-weight: 400;
    color: #0b0b0b;
    line-height: 23px;
}


/* Links */


.infinite-link,
.infinite-link-dark {
    color: #7e7e7e;
    font-size: 14px;
    font-weight: 500;
    transition: all .3s ease-out;
}

.infinite-link::after, 
.infinite-link-dark::after {
    display: block;
    content: '';
    position: relative;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #7e7e7e;
    bottom: -5px;
    left: 0;
    transition: all .3s ease-out;
}

.infinite-link:hover {
    color: #0b0b0b;
}

.infinite-link:hover::after {
    background-color: #0b0b0b;
}


.infinite-link-dark {
    color: #0b0b0b;
}

.infinite-link-dark::after {
    background-color: #0b0b0b;
}

.infinite-link-dark:hover {
    color: #0b0b0bad;
}

.infinite-link-dark:hover::after {
    background-color: #0b0b0bad;
}


/* Buttons */


.infinite-button {
    width: 100%;
    max-width: 200px;
    padding: 18px 0;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: .2px;
    color: #fff;
    text-align: center;
    background-color: #0b0b0b;
    cursor: pointer;
    border: 0;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.infinite-button:hover {
    color: #0b0b0b;
    background-color: #ffffff;
    /* outline: 1px solid #0b0b0b; */
    box-shadow: inset 0px 0px 1px 0px;
}

.button-white {
    color: #0b0b0b;
    background: #fff;
}

.button-white:hover {
    color: #fff;
    background: #0b0b0b;
    outline: 1px solid #fff;
}