.rent-banner {
    display: grid;
    grid-template-columns: minmax(400px, 1fr) 380px minmax(400px, 1fr);
    grid-template-rows: 450px;
    background-color: #F9F9F8;
}

.rent-image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.rent-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.roboto {
    font-family: 'Roboto', sans-serif;
}

.rent-middle-text {
    display: block;
    margin: 10px auto 40px;
}

@media screen and (max-width: 1180px) {
    .rent-banner {
        grid-template-columns: minmax(290px, 1fr) minmax(200px, 360px) minmax(290px, 1fr);
        grid-template-rows: 350px;
    }
}

@media screen and (max-width: 955px) {

    .rent-banner h2 {
        font-size: 35px;
    }

    .rent-middle-text {
        margin: 5px auto 30px;
    }
}

@media screen and (max-width: 894px) {
    .rent-banner {
        grid-template-columns: minmax(300px, 1fr) minmax(300px, 1fr);
        grid-template-rows: 300px 350px;
    }

    .rent-text-container {
        grid-column: 1 / 3;
        grid-row: 1 / 2;
    }

    .rent-image {
        grid-row: 2 / 3;
    }

    .rent-image-left {
        grid-column: 1 / 2;
    }

    .rent-image-right {
        grid-column: 2 / 3;
    }
}

@media screen and (max-width: 599px) {
    .rent-banner {
        grid-template-columns: minmax(200px, 1fr) minmax(200px, 1fr);
        grid-template-rows: 250px 250px;
    }
}

@media screen and (max-width: 399px) {
    .rent-banner {
        grid-template-columns: minmax(300px, 1fr);
        grid-template-rows: 300px 200px 300px;
    }

    .rent-text-container {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .rent-image {
        grid-column: 1 / 2;
    }

    .rent-image-left {
        grid-row: 1 / 2;
    }

    .rent-image-right {
        grid-row: 3 / 4;
    }
}

/* 

    Основной контент 
    
*/

/* rent-action */

.rent-action {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 25px;
    text-align: center;
    border-top: 1px solid #e2e2e2;
}

.rent-small-text {
    display: block;
    margin: 15px 0 30px;
}



/* Rent Perk */

.rent-perks {
    display: grid;
    grid-template-columns: minmax(420px, 500px) max-content;
    grid-template-rows: 57px 380px;
    grid-column-gap: 50px;
    justify-content: center;
    align-content: center;
    padding: 70px 25px;
}

.grid-title {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
    text-align: center;
}

.rent-perks-image {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    transform: rotate(15deg) translateY(25%);
}

.rent-list {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: center;
}

.rent-list li {
    margin: 5px 0;
}

@media screen and (max-width: 700px) {
    .rent-perks {
        grid-template-columns: minmax(320px, calc(100vw - 50px));
        grid-template-rows: 57px 380px max-content;
    }

    .grid-title {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }


    .rent-perks-image {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }

    .rent-list {
        grid-column: 1 / 2;
        grid-row: 3 / 4;
        margin: 0 auto;
    }
}

@media screen and (max-width: 460px) {
    .rent-perks {
        grid-template-columns: minmax(320px, calc(100vw - 50px));
        grid-template-rows: 57px 300px max-content;
    }

    .rent-perks-image {
        grid-column: 1 / 2;
        grid-row: 2 / 3;
    }
}


/* Rent Exclusives */

.rent-exclusives {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 75px 0;
}



/* Rent Ways */

.rent-ways {
    display: grid;
    grid-template-columns: minmax(320px, 1fr);
    grid-template-rows: 100px 1fr;
    justify-content: center;
    align-content: center;
}

.table-container {
    overflow-x: scroll;
}

/* Rent Table */

.rent-table {
    width: 100%;
    /* margin: 70px 0; */
    text-align: center;
}

td,
th {
    width: calc(100% / 3);
    padding: 35px 35px;
    border: 2px solid #fff;
    box-sizing: border-box;
}

th {
    height: 115px;
    background-color: rgba(227, 227, 227, 0.5);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    font-weight: bold;
}

.table-dark-td {
    background-color: rgba(227, 227, 227, 0.5);
    font-weight: 500;
    font-size: 18px;
}

td {
    height: 85px;
    background-color: rgba(227, 227, 227, 0.2);
    font-size: 16px;
}

.table-button {
    margin: 0 auto;
}

.table-button-light {
    background-color: #F9F9F8;
}

@media screen and (max-width: 992px) {

    .rent-ways {
        grid-template-columns: 100vw;
    }

    .rent-table {
        min-width: 800px;
    }
}