
<main class="page-content__main">
  <article class="container cleaning">
    <section class="cleaning-banner">
      <h1 class="infinite-title cleaning-title text-center">
        How We clean
      </h1>
      <p class="cleaning-subtitle-text text-center">
        We scrub every inch both Inside and Out
      </p>
      <iframe src="https://player.vimeo.com/video/345594861" class="cleaning-video" frameborder="0"
              allowfullscreen="allowfullscreen"></iframe>
    </section>

    {{#each cleaning.sections}}
      <section class="cleaning-container">
        <div class="cleaning-text-container">
          <p class="infinite-text cleaning-step">0{{num}} / 06</p>
          <h4 class="infinite-header cleaning-header">{{header}}</h4>
          <p class="infinite-text text-grey">{{text}}</p>
        </div>
        <div class="cleaning-image cleaning-image-{{num}}"></div>
      </section>
    {{/each}}

  </article>
</main>

