{{!Browse Sneakers}}

{{> layout/head page-title="Infinite Selection - Browse Sneakers"}}
{{> blocks/header nav-menu=nav.header.browse}}

<main class="page-content__main">
  <article class="container browse">
    <div class="row">
      <section class="col-12 col-md-8 col-lg-6 col-xl-3 browse-filter">
        <h3 class="infinite-text-title browse-top-line">Filters</h3>
        <div class="filter-brands">
          <h4 class="infinite-header-small">Brands</h4>
          <div class="btn-group btn-group-toggle browse-select" data-toggle="buttons">
            <label class="btn browse-button brands-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand1"
                     autocomplete="off" checked> Adidas
            </label>
            <label class="btn browse-button brands-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand2"
                     autocomplete="off"> Nike
            </label>
            <label class="btn browse-button brands-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand3"
                     autocomplete="off"> Balenciaga
            </label>
            <label class="btn browse-button brands-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand4"
                     autocomplete="off" checked> Yeezy
            </label>
            <label class="btn browse-button brands-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand5"
                     autocomplete="off"> Jordan
            </label>
            <label class="btn browse-button brands-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand6"
                     autocomplete="off"> Puma
            </label>
          </div>
        </div>
        <div class="filter-sizes">
          <h4 class="infinite-header-small">US Sizes</h4>
          <div class="btn-group btn-group-toggle browse-select" data-toggle="buttons">
            <label class="btn browse-button size-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand1"
                     autocomplete="off" checked> 8
            </label>
            <label class="btn browse-button size-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand2"
                     autocomplete="off"> 9
            </label>
            <label class="btn browse-button size-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand3"
                     autocomplete="off"> 10
            </label>
            <label class="btn browse-button size-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand4"
                     autocomplete="off" checked> 11
            </label>
            <label class="btn browse-button size-button">
              <input type="checkbox" class="browse-checkbox" name="options" id="brand5"
                     autocomplete="off"> 12
            </label>
          </div>
        </div>
        <div class="filter-sizes">
          <h4 class="infinite-header-small">Availability</h4>
          <div class="form-group browse-select">
            <div class="input-group date" id="datetimepicker" data-target-input="nearest">
              <input type="text" class="form-control datetimepicker-input"
                     data-target="#datetimepicker" />
              <div class="input-group-append" data-target="#datetimepicker"
                   data-toggle="datetimepicker">
                <div class="input-group-text"><i class="fa fa-calendar"></i></div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="col-12 col-xl-9 browse-main">
        <div class="col-12 browse-main-top browse-top-line">
          <h1 class="infinite-header">Browse Sneakers</h1>
          <p class="infinite-text">24 Result</p>
        </div>
        <div class="col-12 sneakers-browse-container">
          {{#each home.products}}
            {{>blocks/product-card}}
          {{/each}}
          {{#each product-single.products}}
            {{>blocks/product-card}}
          {{/each}}
          {{#each home.products}}
            {{>blocks/product-card}}
          {{/each}}
          {{#each product-single.products}}
            {{>blocks/product-card}}
          {{/each}}
        </div>
      </section>
    </div>
  </article>
</main>

{{> blocks/footer }}
{{> layout/bottom }}
