{{!Terms of Service}}

{{> layout/head page-title="Infinite Selection - Terms of Service"}}
{{> blocks/header/header nav-menu=nav.header.home}}

<main class="page-content__main">

  <section class="authenticity-container container">
    <div class="row">
      <div class="col-12 col-lg-7 col-xl-6 mx-auto">
        <h1 class="authenticity-title">
          Terms Of Service
        </h1>

        <p class="authenticity-text text-center">
          Effective as of 9th of August 2019
        </p>

        <p class="authenticity-text">
          Infinite Selection Terms of Service Agreement (Terms) explains the terms and conditions under
          which you are able to use the website (Site) and services (Services) provided by Infinite
          Selection (we/us). PLEASE READ THESE TERMS CAREFULLY AND KEEP A COPY FOR REFERENCE. THESE TERMS
          MAY HAVE CHANGED SINCE YOUR LAST VISIT TO THE SITE. The Effective date of the current version of
          the Terms is indicated above. Unless otherwise stated herein, the Terms which were in effect
          when you started using the Services shall remain in effect until the Services are terminated.
          Infinite Selection maintains this Site as a service to its customers, potential customers, and
          other interested parties. Your use of the Site and Services are subject in all respects to these
          Terms, including the Privacy Policy. By using our Site or our Services you are entering into a
          binding contract with Infinite Selection. IF YOU DO NOT AGREE WITH (OR CANNOT COMPLY WITH) THE
          TERMS AND CONDITIONS SET FORTH BELOW, DO NOT USE OR ACCESS OUR SERVICES.

          <span class="emptySpace"></span>
          These Terms do not interfere with any obligation or authorization provided in any other
          agreement concluded between you and Infinite Selection

        </p>

        <p class="authenticity-text">
          <span class="paragraph-privacy">1. General Terms</span>
          <span class="paragraph-privacy">1.1 Scope of the Services</span>

          As Services Infinite Selection provides you with access to the selected models of sneakers
          (Sneakers) which may be leased or purchased depending on the availability. Services may be
          provided through the Site or in retail stores.

          <span class="emptySpace"></span>
          Infinite Selection cannot guarantee or warrant that the Services will meet your requirements or
          be available on an uninterrupted, secure, or error-free basis.

          <span class="paragraph-privacy">1.2 Eligibility</span>

          By registering for the use of the Services, you confirm that you are at least 18 years of age.
          By using our Services, you confirm that you (i) have full legal capacity to enter into a binding
          relation, (ii) that you will provide true, accurate, current, and complete information where
          requested, and information which is otherwise compatible with these Terms, (iii) that you will
          not use Services contrary to these Terms or applicable laws.

          <span class="emptySpace"></span>
          Although the Site may be accessed from all over the world, some services may not be available in
          your region. It is your responsibility to check whether the Services are available to you prior
          to making any commitment. We will not be responsible for any expense that may result from the
          inability to access our services from your region.

          <span class="paragraph-privacy">1.3 Registration</span>

          Some of the Services provided are only available upon registration. During the registration
          process, you will be asked to provide some personal information, the collection, use, and
          storage of which is regulated by our Privacy Policy document and applicable laws. You are
          required to provide true, accurate, current and complete information about yourself as prompted
          by forms provided. If you provide information contrary to aforementioned conditions, we may deny
          you or terminate your access to parts of our Services. We are not responsible for any failure in
          providing the Services which results from information that is not true, accurate, current and
          complete.

          <span class="emptySpace"></span>
          You understand that it is your responsibility to keep your login information confidential. You
          are responsible for all activity under your account. If you ever find out or suspect that
          someone accessed your account without authorization, you are advised to inform us immediately.

          <span class="paragraph-privacy">1.4 Contact</span>

          When you provide us with your contact information such as email and phone number, we may contact
          you using such contact information, for any matters relating to the Services (Service messages).
          These messages do not constitute “unsolicited commercial advertisements” and you are not able to
          opt-out of receiving them. You may opt-in to receive e-mails and messages about news,
          promotions, special offers and or other topics of interest related to the Infinite Selection or
          our affiliates (Promotional messages). You may choose to stop receiving these promotional
          messages at any time by following the instructions contained in Promotional messages.

          <span class="emptySpace"></span>
          If you have any question or suggestion you can contact us at info@infiniteselection.com

          <span class="paragraph-privacy">1.5 Acceptable Use Policy</span>
          You agree that you will not misuse our Services. A misuse constitutes any use, access or
          interference with the Site or Services contrary to these Terms, our privacy policy and
          applicable laws and regulations. We can, in our sole discretion, suspend or terminate access to
          all or parts of the Site or Services to any person, without prior notice or need to deliberate
          on reasons for such measure. We reserve the right to deny Services to anyone at any time. During
          your use of our Services, you will not behave contrary to the Terms, Policies, applicable laws
          and regulations, and you will especially not, without limitation, do anything of the following:

        </p>

        <ul class="regular-list authenticity-text">
          <li class="list-item">
            send or otherwise post unauthorized commercial communications (such as spam) through the
            Site;
          </li>
          <li class="list-item">
            collect Site users’ content or information, or otherwise access the Site, using automated
            means (such as harvesting bots, robots, spiders, or scrapers) without our permission;
          </li>
          <li class="list-item">
            upload viruses or other malicious code;
          </li>
          <li class="list-item">
            post or transmit content which is illegal, hateful, obscene, threatening, incites violence,
            insulting, defamatory, infringing of intellectual property rights, invasive of privacy, or
            is
            otherwise objectionable to third parties;
          </li>
          <li class="list-item">
            post or transmit content that exploits children under the age of eighteen (18).
          </li>
          <li class="list-item">
            take any action creating a disproportionately large usage load on our Site unless expressly
            permitted by us;
          </li>
          <li class="list-item">
            create more than one account or share your account with anyone;
          </li>
          <li class="list-item">
            communicate any information or content that you do not have a right to make available
            under any law or under contractual or fiduciary relationships, or otherwise infringes or
            violates someone else’s rights;
          </li>
          <li class="list-item">
            encourage participation in or promote any contents, pyramid schemes, surveys, chain letters
            or spamming, or unsolicited emailing through the Site.
          </li>
        </ul>

        <p class="authenticity-text">
          Infinite Selection Terms of Service Agreement (Terms) explains the terms and conditions under
          which you are able to use the website (Site) and services (Services) provided by Infinite
          Selection (we/us). PLEASE READ THESE TERMS CAREFULLY AND KEEP A COPY FOR REFERENCE. THESE TERMS
          MAY HAVE CHANGED SINCE YOUR LAST VISIT TO THE SITE. The Effective date of the current version of
          the Terms is indicated above. Unless otherwise stated herein, the Terms which were in effect
          when you started using the Services shall remain in effect until the Services are terminated.
          Infinite Selection maintains this Site as a service to its customers, potential customers, and
          other interested parties. Your use of the Site and Services are subject in all respects to these
          Terms, including the Privacy Policy. By using our Site or our Services you are entering into a
          binding contract with Infinite Selection. IF YOU DO NOT AGREE WITH (OR CANNOT COMPLY WITH) THE
          TERMS AND CONDITIONS SET FORTH BELOW, DO NOT USE OR ACCESS OUR SERVICES.

          <span class="emptySpace"></span>
          These Terms do not interfere with any obligation or authorization provided in any other
          agreement concluded between you and Infinite Selection

        </p>

        <p class="authenticity-text">
          <span class="paragraph-privacy">2. Rental and purchase terms</span>
          <span class="paragraph-privacy">2.1 General terms</span>

          All sneakers listed on the Site are used, pre – owned collectable sneakers. Sign of use or
          normal wear and tear may be present.

          <span class="emptySpace"></span>
          Sneakers may be used by minors but we only rent or sell to the persons over the age of 18 who
          have a valid credit card or other approved payment method and are able to enter into a
          contractual relationship. By placing an order for Sneakers you confirm that you meet all the
          criteria from section 1.2 of the Terms.

          <span class="emptySpace"></span>
          We place certain limitation on the orders which you may submit. We reserve our exclusive and
          sole right to decline any order or to limit the amount of orders that you can place at any time.
          Our right to limit, decline or restrict the Services is unlimited, and any such limitation,
          decline or restriction may be caused, but not exclusively, by Sneaker availability, demand,
          geographical presence and other.

          <span class="emptySpace"></span>
          Online orders are shipped through the carriers of our sole and exclusive choice. We may change
          carriers from time to time.

          <span class="paragraph-privacy">2.2 Payment</span>

          By providing your payment information you authorize us to debit all charges and fees to the
          payment method you provided. We may utilize all available legal methods in order to collect any
          outstanding amounts from you. You will be responsible for the costs of utilizing of such
          methods. We may additionally report information about your account, such as late or missed
          payments, to credit bureaus which may reflect your credit report.

          <span class="emptySpace"></span>
          All rental fees displayed on the Site or at the retail stores are shown exclusive of any
          applicable taxes, whether federal, state or local, duties, customs, transport and other fees
          unless explicitly stated otherwise during your checkout process. Rental fee is calculated based
          on the product and the duration of the rental period. If the delivery is included in the rental
          fee it will be displayed during your checkout process. When placing an order for rental of
          Sneakers you thereby authorize us to charge your payment method for the total amount of rental
          fee + refundable security deposit. Refundable security deposit is in the amount of either $50 or
          $100, determined by our sole discretion since the Sneakers on the Site are no longer available
          for retail purchase. When placing the order, you further allow us to charge your payment method
          in the amount of 100% of the market value of the ordered Sneakers, determined by the Infinite
          Selection, provided that such amount will be charged in accordance with these Terms.

          <span class="paragraph-privacy">2.3 Cancelation</span>
          You may cancel your order in accordance with the following cancelation policy:
        </p>

        <ol class="regular-list authenticity-text">
          <li class="list-item">
            You may cancel more than fourteen (14) days in advance of the scheduled delivery date in
            which case you will not receive and refund, but you will receive Infinite Selection credit
            in the amount of the rental fee of your order. This credit may be used for any future rental
            from Infinite Selection.
          </li>
          <li class="list-item">
            You may cancel fourteen (14) days or less in advance of the scheduled delivery date in which
            case you will not receive any refund, but you will receive Infinite Selection credit in the
            amount of the rental fee of your order reduced by the cancelation fee in the amount of $10.
          </li>
        </ol>

        <p class="authenticity-text">
          <span class="paragraph-privacy">2.4 Delivery</span>

          All sneakers listed on the Site are used, pre – owned collectable sneakers. Sign of use or
          normal wear and tear may be present.
          <span class="emptySpace"></span>
          All Sneakers come pre-packed with the box, a prepaid return label, and instructions for return
          of the Sneakers. You may use different packaging to return the Sneakers instead of the box the
          Sneakers came in, provided that such packaging is at least of the same condition and quality as
          the initial package and that such package provides adequate transport protection.

          <span class="emptySpace"></span>
          You assume full responsibility for the Sneakers from the moment of signing the receipt until the
          Sneakers are returned to the Infinite Selection. You are advised to provide a secure shipping
          address where you are sure someone will be available to take the Sneakers and sign the delivery.
          If no one is present for signature the delivery personnel may return the shipment to Infinite
          Selection in which case, you are responsible for any delay and additional costs caused by such
          return.

          <span class="paragraph-privacy">2.5 Use and return</span>

          During the rental period you undertake to take care of the Sneakers, and to refrain from
          damaging and staining them. You are responsible for any damage, done to the Sneakers during the
          rental period regardless if the cause for damage, loss or theft can be attributed to you. In the
          event that the Sneakers are damaged, destroyed, lost, or otherwise not returned to the Infinite
          Selection, you agree to pay 200% of the market value of the Sneakers. In the event that the
          Sneakers are damaged beyond normal wear and tear you agree to pay all necessary costs for repair
          or replacement in the amount of up to 200% of the market value as determined by Infinite
          Selection. Normal wear and tear encompass minor removable stains, dirt, mud, dust, external
          non-permanent damage, situations that can be repaired with cleaning using reasonable resources
          at our discretion.

          <span class="emptySpace"></span>
          Upon expiry of the rental period or before you are responsible for returning the Sneakers using
          the shipping instructions provided by the Infinite Selection. We do not provide extension for
          the rental period. Sneakers are returned in the same conditions as they were received in. Please
          make sure that you do not include any personal items with the packaging since we are not
          responsible for return or damage to such items. If by any chance you sent us something that you
          shouldn’t or didn’t intend to, please contact us.

          <span class="emptySpace"></span>
          In case that you do not return the Sneakers on time or not at all, we may charge a late fee on
          the payment method you have provided. The late fee is in the amount of $50 per each day of the
          delay up to the maximum sum of 200% of the Sneakers market value. If you are late in returning
          the Sneakers for seven (7) days or more, we will consider that the Sneakers are lost and will
          charge 200% of the Sneakers market value to the payment method you have provided.

          <span class="emptySpace"></span>
          For any payment besides the rental fee we may charge the aggregate sum of 200% of the Sneakers
          market value. For avoidance of doubt, this amount shall be charged independently and in addition
          to the rental fee. If 200% of the Sneakers’ market value has been charged in addition to the
          rental fee and the Sneakers are in your possession, you may keep them on an “as is” basis. If we
          had charged 200% of the market value but the Sneakers are in our possession you may not request
          us to send the Sneakers to you nor do you have any right or claim on such Sneakers.

          <span class="paragraph-privacy">2.6 Warranty</span>
          Infinite Selection provides a limited warranty for the rental of the Sneakers. Warranties apply
          only to you and may not be transferred regardless if the Sneakers are not worn by you.
          Warranties shall not apply in case of your violation of these Terms. Your sole and exclusive
          remedy for our breach of the warranties is replacement of the Sneakers not conforming with the
          warranties or the award of the Infinite Selection gift card in the amount of the rental fee.

          <span class="emptySpace"></span>
          Infinite Selection limited warranty includes the following:

          <span class="emptySpace"></span>
          Warranty for the accuracy – Subject to the availability we will provide the Sneakers that were
          ordered including the requested size, color, and design. We will deliver the Sneakers on or
          before the date indicated in the order. We are not responsible for the late delivery or failure
          to deliver if such event was caused by force majeure event. If we are unable to send you the
          requested Sneakers, we will use our best effort to contact you in order to agree on the
          replacement Sneakers which we should send. If we are unable to get in touch with you, we will
          send you a replacement Sneakers of our choosing that is equal or greater in value than the
          Sneakers indicated in the order. Colors and design may appear different in the pictures
          available on the Site from what they appear in person. We make no representation as to the
          accuracy of such pictures.

          <span class="emptySpace"></span>
          Ready for use – All Sneakers are professionally cleaned before being sent to you. We take all
          reasonable measures to disinfect and clean the Sneakers, however, we are not responsible for any
          health – related complaint connected with the Sneakers. We make no warranty or representation
          that the Sneakers are sanitary. We only guarantee the Sneakers are clean to the naked eye.

          <span class="emptySpace"></span>
          Wrong size replacement – If the Sneakers do not fit your size you may return them until next
          business day from the day of receipt by contacting us through chat or email and sending the
          Sneakers back following the instructions provided therein. Upon the receipt of the Sneakers and
          making sure the Sneakers are clean and not damaged, you will be issued Infinite Selection credit
          in the amount of full rental fee. Return shipment costs shall not be reimbursed.
        </p>

        <p class="authenticity-text">
          <span class="paragraph-privacy">2.7 Purchase</span>

          Some Sneakers on the Site may be available for purchase. All Sneakers condition is declared as
          used and pre-owned. All purchases are provided on as “as is” basis with no warranties of any
          kind, either express or implied. All products are final.

          <span class="emptySpace"></span>
          Purchase price show on the Site is exclusive of any applicable taxes and includes the purchase
          price and the shipment costs. We may change the prices listed on the Site at any time. Any price
          change, promotion or bonus displayed after the sale was made shall have no effect on the
          completed sales.

          <span class="paragraph-privacy">2.8 Unlimited Subscription</span>

          We offer an Unlimited Subscription model for the rental of the Sneakers. When you subscribe to
          the Unlimited Subscription you allow us to charge the payment method you provided for the cost
          of the Unlimited Subscription fee at the beginning of each billing cycle until canceled.
          Unlimited Subscription is not without limitation. Unlimited Subscription includes the option to
          rent selected Sneakers during the duration of the subscription at a fixed rental fee. Subject to
          availability you may exchange the rented Sneakers for different Sneakers at the end of the of
          the rental period with the maximum of four (4) exchanged during one-month period. New Sneakers
          are sent only upon the receipt of the current Sneakers. You may only exchange the Sneakers of
          the same size that is selected upon registration for the subscription. Unlimited Subscription
          fee includes the shipment costs for sending and returning the Sneakers to you. Return of the
          Sneakers is at your own expense if prepaid label is lost.

          <span class="emptySpace"></span>
          Subscription period starts on the date on which the payment of the subscription fee is processed
          and ends on the same day in the subsequent month unless auto renewed. In case the month in which
          the subscription period expires does not have the date which matches the start date of the
          subscription, subscription period will end on the last day in that month. Subscription period
          will automatically renew at the end of the current subscription period. Renewed subscription
          period will be by default for the same duration as the current subscription period. Fee for the
          renewed subscription period will be calculated in accordance the prices that were in effect ten
          (10) days prior to the expiry of the current subscription period. If you wish to stop using our
          Services, you may discontinue automatic renewal option in your account or by contacting us
          before the expiry of the current subscription period. You may not cancel the subscription period
          you already paid for. We do not offer any refund in case you want to cancel your use of the
          Services. If you want to discontinue using our Services you may do so only by discontinuing auto
          renewal, in which case you will be able to use the Services until the end of the current
          subscription period. All Sneakers must be return before the expiry of the subscription. If the
          Sneakers are not return before the expiry, we will charge a one-time payment in the amount of
          200% market value of the non-returned Sneakers.

          <span class="emptySpace"></span>
          Return of the Sneakers for replacement in accordance with the warranty shall count toward your
          total available monthly exchanges. If you cancel auto renewal less than ten (10) days prior to
          the expiry of the current subscription period, you will not be allowed any subsequent request
          for exchange of the Sneakers regardless of the monthly exchange limit.

          <span class="emptySpace"></span>
          We reserve the right to amend, replace or discontinue our Unlimited Subscription program at any
          time and at our sole discretion. New changes shall apply from your next auto renewal unless
          terminated. If Unlimited Subscription is discontinued during your active subscription period and
          such discontinuation is immediate, we will provide you with the Infinite Selection gift card in
          the pro-rated amount for the unused current subscription period.

          <span class="paragraph-privacy">3. Intellectual Property</span>

          <span class="paragraph-privacy">3.1 Proprietary Rights</span>

          All intellectual property rights connected to the Site, Services, content, software or
          technology used with the Services are the sole property of the Infinite Selection, or are used
          under appropriate licenses or permissions. Nothing in these Terms shall be understood or
          intended for transfer of such intellectual property rights to you or any other third party.

          <span class="emptySpace"></span>
          Subject to your compliance with these Terms, we grant you a limited, non-exclusive,
          non-transferable, non-sub licensable license to access and use the Site and the Services. Except
          as expressly permitted in these Terms, you may not: copy, modify or create derivative works
          based on the Site or its Content; distribute, transfer, sublicense, lease, lend or rent the Site
          or the Content to any third party; reverse engineer, decompile or disassemble the Site or the
          Content; or make the functionality of the Site available to multiple users through any means.

          <span class="paragraph-privacy">3.2 User Generated Content</span>

          Users are able to upload and post Content on the Site, including but not limited to texts and
          photos. Nothing contained in such User Generated Content can be illegal, hateful, obscene,
          threatening, inciting violence, insulting, defamatory, infringing of intellectual property
          rights, invasive of privacy, or contains graphic or gratuitous violence or otherwise
          objectionable to third parties. We reserve the right, at our sole discretion, to refuse to
          publish or to remove any User Generated Content, especially if it is not in compliance with our
          Terms.

          <span class="emptySpace"></span>
          If you post Content on or through the Site, you grant us a non-exclusive, royalty-free,
          perpetual, irrevocable right to use, reproduce, modify, adapt, publish, distribute, and display
          such User Generated Content on the Site, our social pages, and on any other marketing material
          we may create. Whenever we might use the User Generated Content we will give appropriate credit
          to the Content provider through their name if available. You irrevocably waive, and cause to be
          waived, against Infinite Selection any claims and assertions of moral rights or attribution with
          respect to User Generated Content which you provide.

          <span class="emptySpace"></span>
          We aim to provide a safe space for all our Users. However, considering how we do not monitor
          User Generated Content, you agree to inform us immediately if you come across any illegal
          activity, activity that is in breach of these Terms, or activity you suspect might be in
          violation of these Terms or applicable laws or might otherwise be objectionable. Although we
          expressly prohibit posting or sharing of any User Generated Content which is illegal, hateful,
          obscene, threatening, incites violence, insulting, defamatory, infringing of intellectual
          property rights, invasive of privacy, or contains graphic or gratuitous violence or is otherwise
          objectionable to third parties, we do not pre-screen the content, so you hereby agree that you
          may be exposed to any such content and that you use the Site and the Services at your own risk.
          We reserve the right to remove any content which we find to constitute a breach of these Terms
          or relevant laws, without notifying the Users or providing reasoning for such action. You
          recognize and concur that Infinite Selection bears no obligation regarding the risk, harm,
          damage, or loss that might emerge from content submitted to or distributed on the Site. You
          further understand that by providing your content online, other people will have access to such
          content and they will be able to copy, share or otherwise interact with such content. If you do
          not want your content to be used as described the only remedy is to not share your content.

          <span class="paragraph-privacy">3.3 Confidential Information</span>

          During the term of this Agreement, Users may be required to provide or volunteer to provide
          certain Confidential Information to Infinite Selection and Infinite Selection may disclose
          certain Confidential Information to the Users. Regarding such information both parties hereby
          agree (i) to keep Confidential Information in strict confidence, (ii) to undertake all
          reasonable measures to protect the confidence of Confidential Information, (iii) not to
          disclose, or otherwise make available, Confidential Information to any third party without
          obtaining prior written consent, (iv) to use Confidential Information only for the purposes
          intended, (v) to return all Confidential Information and any and all copies, extracts or
          derivative works resulted from Confidential Information upon written request or upon termination
          of the Terms, and to destroy or erase all remaining copies of the Confidential Information
          regardless of the form or media on which the Confidential Information is stored.

          <span class="emptySpace"></span>
          Both parties agree to allow access to Confidential Information only to personnel committed to
          confidentiality either by agreement or statutory obligations. Collection, storage and use of
          information obtained from Users is governed by our Privacy Policy document available at
          <a href='privacy-policy.html' class="regular-link">www.infiniteselection.com/privacy-policy</a>.

          <span class="paragraph-privacy">3.4 Notification of Infringement</span>

          If you believe thatyour work has been copied in a way that constitutes copyright infringement,
          or your intellectual property rights have been otherwise violated, please provide the following
          information to the Site’s Copyright Agent:
        </p>

        <ol class="regular-list authenticity-text">
          <li class="list-item">
            An electronic or physical signature of the person authorized to act on behalf of the owner
            of the copyright or other intellectual property interest;
          </li>
          <li class="list-item">
            A description of the copyrighted work or other intellectual property that you claim has been
            infringed;
          </li>
          <li class="list-item">
            A description of where the material that you claim is infringing is located on the Platform;
          </li>
          <li class="list-item">
            Your name, address, telephone number and e-mail address;
          </li>
          <li class="list-item">
            A signed statement by you that you have a good faith belief that the disputed use is not
            authorized by the copyright owner, its agent, or the law; and
          </li>
          <li class="list-item">
            A statement by you, made under penalty of perjury, that the information provided in your
            Notice is accurate and that you are the copyright or intellectual property owner or
            authorized to act on the copyright or intellectual property owner’s behalf.
          </li>
        </ol>

        <p class="authenticity-text">
          Our copyright agent can be reached as follows: <br>
          Email:<a href="mailto:gimmethenick@gmail.com"
                   class="regular-link">ereburg@infiniteselection.com</a>
        </p>

        <p class="authenticity-text">
          <span class="paragraph-privacy">4. Third Party Services and content</span>

          Use of our Services is conditioned by the use of SMS order updates. If you cannot or do not want
          to receive SMS order updates you may not use our Services. When receiving SMS order updates your
          carrier’s standard charges, data rates and other fees may apply.

          <span class="emptySpace"></span>
          The Services may be made available or accessed in connection with third party services (such as
          shipping) and content (including advertising) that Infinite Selection does not control. You
          acknowledge that different Terms of Service and privacy policies may apply to your use of such
          third party services and content. Infinite Selection does not endorse such third party services
          and content and in no event shall Infinite Selection be responsible or liable for any products
          or services of such third party providers.

          <span class="emptySpace"></span>
          Sneakers are created by third party companies to which Infinite Selection is not a part of.
          Infinite Selection is not sponsored or endorsed by such third party companies nor is Infinite
          Selection affiliated with such companies.

          <span class="paragraph-privacy">5. Indemnity</span>

          You will indemnify and hold harmless Infinite Selection, and its employees and affiliates, from
          and against any claims, disputes, demands, liabilities, damages, losses, and costs and expenses,
          including, without limitation, reasonable legal and accounting fees arising out of or in any way
          connected with your access to or use of the Site, Content which you provide, or your violation
          of these Terms.

          <span class="paragraph-privacy">6. Limitation of liability</span>

          YOU AGREE THAT, TO THE EXTENT PERMITTED BY APPLICABLE LAW, YOUR SOLE AND EXCLUSIVE REMEDY FOR
          ANY PROBLEMS OR DISSATISFACTION WITH THE INFINITE SELECTION SERVICE IS TO STOP USING THE
          INFINITE SELECTION SERVICES.

          <span class="emptySpace"></span>
          TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW INFINITE SELECTION, ITS EMPLOYEES, OFFICERS,
          SHAREHOLDERS, DIRECTORS, AGENTS, SUBSIDIARIES, AFFILIATES, SUCCESSORS, SUPPLIERS, ASSIGNS OR
          LICENSORS SHALL NOT BE LIABLE FOR ANY INDIRECT, SPECIAL, INCIDENTAL, PUNITIVE, EXEMPLARY OR
          CONSEQUENTIAL DAMAGES, OR ANY LOSS OF PROFITS OR REVENUES, WHETHER INCURRED DIRECTLY OR
          INDIRECTLY, OR ANY LOSS OF DATA, USE, GOOD-WILL, OR OTHER INTANGIBLE LOSSES, ARISING OUT OF YOUR
          ACCESS OR USE OR INABILITY TO ACCESS OR USE THE INFINITE SELECTION SERVICES, THIRD PARTY
          APPLICATIONS OR THIRD PARTY APPLICATION CONTENT, REGARDLESS OF LEGAL THEORY, EVEN IF INFINITE
          SELECTION HAS BEEN ADVISED OF THE POSSIBILITY OF THOSE DAMAGES AND EVEN IF A REMEDY FAILS OF ITS
          ESSENTIAL PURPOSE. IN NO EVENT SHALL INFINITE SELECTION’S AGGREGTATED LIABILTY EXCEED THE AMOUNT
          YOU PAID INFINITE SELECTION, IF ANY, THE PAST ONE MONTH FOR THE SERVICES GIVING RISE TO THE
          CLAIM, TO THE EXTENT PERMITTED BY APPLICABLE LAW.

          <span class="emptySpace"></span>
          Infinite Selection, it’s employees, agents, and its directors do not accept any liability and
          you hereby agree to release us of any liability arising (whether directly or indirectly) out of
          the information provided through the Services, or any errors, in or omissions from such
          information. Infinite Selection is not liable for loss (whether directly or indirectly) caused
          by your actions or decisions based on your reliance on the information provided to you through
          the Services, nor caused by the delay, malfunction of the operation or the availability of the
          Services.

          <span class="paragraph-privacy">7. Changes</span>

          INFINITE SELECTION MAY MAKE CHANGES OR REPLACE OUR TERMS OF SERVICE AGREEMENT AT ANY TIME. WE
          WILL POST SUCH CHANGES, REPLACEMENTS AND UPDATES ON THE SITE AND SUCH CHANGE, REPLACEMENT AND
          UPDATE TO OUR TERMS OF SERVICE AGREEMENT WILL TAKE EFFECT IMMEDIATELY UPON POSTING. YOU ARE
          CONSENTING TO KEEP YOURSELF UP TO DATE WITH THE LATEST POSTED TERMS OF SERVICE AGREEMENT AND YOU
          ACCEPT AND ARE BOUND BY SUCH CHANGE, REPLACEMENT AND UPDATE IF YOU ACCESS OR USE OUR SERVICE
          AFTER WE HAVE POSTED IT IN OUR PLATFORM. THE TERMS OF SERVICE AGREEMENT APPLIES REGARDLESS FROM
          WHICH DEVICE OR OPERATING SYSTEM YOU ACCESS OUR SERVICES.

          <span class="paragraph-privacy">8. Governing Laws and Choice of Forumt</span>

          This Agreement shall be governed by and construed under the laws of the Missouri state, USA,
          without regard to its conflict of law provisions. You agree that if you have any dispute with
          Infinite Selection you will contact us in order to settle through negotiations and mutual
          understanding. If the solution can not be reached in negotiations you agree and hereby submit to
          the arbitration.

          <span class="paragraph-privacy">9. Agreement to Arbitrate</span>

          You and Infinite Selection acknowledge that neither of us will bring or participate in any class
          action or other class proceeding in connection with any dispute with the other party. Further,
          neither you nor Infinite Selection agree to class arbitration or any arbitration where a person
          brings a dispute as a representative of other person(s).

          <span class="emptySpace"></span>
          Any controversy or claim arising out of or relating to these Terms, or the breach thereof, shall
          be settled by arbitration administered by the American Arbitration Association in accordance
          with its Commercial Arbitration Rules and judgment on the award rendered by the arbitrator(s)
          may be entered in any court having jurisdiction thereof.

          <span class="emptySpace"></span>
          Claims shall be heard by a single arbitrator, unless the claim amount exceeds $1,000,000, in
          which case the dispute shall be heard by a panel of three arbitrators. The place of arbitration
          shall be Saint Louis, Missouri. The arbitration shall be governed by the laws of the State of
          Missouri. Hearings will take place pursuant to the standard procedures of the Commercial
          Arbitration Rules that contemplate in person hearings. The arbitrators will have no authority to
          award punitive or other damages not measured by the prevailing party’s actual damages, except as
          may be required by statute. Any award in an arbitration initiated under this clause shall be
          limited to monetary damages and shall include no injunction or direction to any party other than
          the direction to pay a monetary amount. The arbitrator(s) shall award to the prevailing party,
          if any, as determined by the arbitrators, all of their costs and fees. “Costs and fees” mean all
          reasonable pre-award expenses of the arbitration, including the arbitrators’ fees,
          administrative fees, travel expenses, out-of-pocket expenses such as copying and telephone,
          court costs, witness fees, and attorneys’ fees. Except as may be required by law, neither a
          party nor an arbitrator may disclose the existence, content, or results of any arbitration
          hereunder without the prior written consent of both parties. The parties agree that failure or
          refusal of a party to pay its required share of the deposits for arbitrator compensation or
          administrative charges shall constitute a waiver by that party to present evidence or
          cross-examine witness. In such event, the other party shall be required to present evidence and
          legal argument as the arbitrator(s) may require for the making of an award. Such waiver shall
          not allow for a default judgment against the non-paying party in the absence of evidence
          presented as provided for above.

          <span class="paragraph-privacy">10. Termination</span>

          You may terminate your account with Infinite Selection at any time by contacting us on our email
          address. You will not be provided with any refund or credit for any unused Services. Termination
          of your account will not release you from your obligation to return any rented Sneakers or to
          pay any additional charge.

          <span class="emptySpace"></span>
          We may terminate or limit your access to the Services at any time and for any reason whatsoever.
          You will only be provided with the Infinite Selection gift card in the pro-rated amount in the
          event that your Unlimited Subscription has been terminated because of the discontinuity of the
          service.

          <span class="emptySpace"></span>
          Your obligation for the costs and fees as well as the arbitration clause shall survive the
          termination of your account.

          <span class="paragraph-privacy">11. Final Provisions</span>

          Infinite Selection reserves the right, in its sole discretion to terminate limit or suspend any
          User’s access to this website without notice or liability, for any reason whatsoever, including
          the User’s breach of any of these Terms.

          <span class="emptySpace"></span>
          If any part of these Terms is found to be invalid, illegal or unenforceable in any respect, it
          will not affect the validity or enforceability of the remainder of the Terms.

          <span class="emptySpace"></span>
          The section titles in the Terms are for convenience only and have no legal or contractual
          effect.

          <span class="emptySpace"></span>
          Any failure to exercise or enforce any right or the provision of this agreement shall not
          constitute a waiver of such right or provision.

          <span class="emptySpace"></span>
          Neither Party may assign or transfer any right or obligation under this Agreement to a
          third-party without obtaining prior written consent, except to the successors in the event of
          merger, sale, or liquidation of the Party.
        </p>
      </div>
    </div>
  </section>

  <section class="action">
    <h2 class="action-text">
      Same Sneakers, Better Prices
    </h2>
    <a href='browse-sneakers.html' class="infinite-button action-link">Rent Now</a>
    <img class="action-image" src="../assets/images/other/sneakers-terms-of-service.png" alt="Just Do It">
  </section>

</main>

{{> blocks/footer/footer footer-nav=nav.footer.terms}}
{{> layout/bottom }}
