
<main class="page-content__main {{#if indent}} page-content__indent{{/if}}">
  <section class="container-404 layout-404">
    <h2 class="infinite-title-main">We lost this page</h2>
    <p class="infinite-text text-404">
      We searched high and low but couldn’t find what you’re looking for.
      Let’s find a better place for you to go.
    </p>
    <a href="home.html" class="infinite-button mx-auto">Back to Home</a>
    <picture class="not-found">
      <img class="not-found-image" src="../assets/images/other/404.png" alt="404">
    </picture>
  </section>
</main>

