<footer class="page-content__footer footer-main">
  <div class="footer-main__container container">
    <div class="footer-main__content">
      <div class="footer-main__logo">
        <a class="page-logo" href="home.html">
          <img src="../assets/images/logo/logo-white.svg" alt="Infinite Selection logo.">
        </a>
      </div>
      <div class="footer-main__menu">
        <nav class="footer-nav">
          <ul class="footer-nav__list">
            {{#if footer-nav}}
              {{#each footer-nav}}
                {{>blocks/footer-link}}
              {{/each}}
            {{else}}
              {{#each nav.footer.default}}
                {{>blocks/footer-link}}
              {{/each}}
            {{/if}}
          </ul>
        </nav>
      </div>
      <div class="footer-main__bottom">
        <div class="footer-main__socials footer-socials">
          <a class="footer-socials__link" href="https://www.facebook.com" target="_blank" rel="noopener noreferrer">
            <i class="footer-socials__icon fab fa-facebook-f"></i>
          </a>
          <a class="footer-socials__link" href="https://www.instagram.com" target="_blank" rel="noopener noreferrer">
            <i class="footer-socials__icon fab fa-instagram"></i>
          </a>
          <a class="footer-socials__link" href="https://twitter.com" target="_blank" rel="noopener noreferrer">
            <i class="footer-socials__icon fab fa-twitter"></i>
          </a>
        </div>
        <p class="footer-main__copyright">
          © <span class="js-current-date">2019</span>
          Made by <a href="https://github.com/ereburg">Ereburg</a>. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
