<footer class="page-content__footer footer">
  <div class="container">
    <div class="row footer-container">
      <div class="col-12 col-lg footer-logo-container">
        <a class="footer-logo-link" href="#topPage">
          <img class="footer-logo" src="../assets/images/logo/logo-white.svg" alt="Infinite Selection">
        </a>
      </div>
      <div class="col-12 col-lg-5 footer-menu">
        <nav class="footer-nav">
          {{#if footer-nav}}
            {{#each footer-nav}}
              {{>blocks/footer-link}}
            {{/each}}
          {{else}}
            {{#each nav.footer.default}}
              {{>blocks/footer-link}}
            {{/each}}
          {{/if}}
        </nav>
      </div>
      <div class="col-12 col-lg footer-socials">
        <div class="socials-container">
          <a class="social-link facebook-link" href="https://www.facebook.com" target="_blank"
             rel="noopener noreferrer">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a class="social-link instagram-link" href="https://www.instagram.com" target="_blank"
             rel="noopener noreferrer">
            <i class="fab fa-instagram"></i>
          </a>
          <a class="social-link twitter-link" href="https://twitter.com" target="_blank"
             rel="noopener noreferrer">
            <i class="fab fa-twitter"></i>
          </a>
        </div>
        <p class="footer-text">
          © 2019 Infinity by Ereburg. All rights reserved.
        </p>
      </div>
    </div>
  </div>
</footer>
