<article class="releases-item">
  <a href="product-single.html" class="releases-item-link">
    <img class="releases-image" src="../assets/images/releases/releases-{{img}}" alt="sneakers">
    <h2 class="releases-title">{{title}}</h2>
    <p class="releases-value">&#36;{{price}} Value</p>
    <p class="releases-cost">&#36;{{price-sale}}</p>
  </a>
</article>
