<section class="action">
  <div class="action-container">
    <h2 class="action-text">{{action-text}}</h2>
    <a href='{{action-href}}' class="infinite-button action-link">Rent Now</a>
    <img class="action-image" src="{{action-src}}" alt="Just Do It">
  </div>
</section>



