<main class="page-content__main home">
  <section class="container intro-container">
    <div class="intro">
      <div class="description-column">
        <h1 class="description-title">Rent Authentic Sneakers</h1>
        <p class="description-text">
          Rent Collectable Sneakers From Top Brands Like Nike, Air Jordan, Adidas and More
        </p>
        <a href="browse-sneakers.html" class="infinite-button">Rent Now</a>
      </div>
      <div class="animate-container">
        <img class="animate leftSneaker" src="../assets/images/intro/leftSneaker.png" alt="leftSneaker">
        <img class="animate rightSneaker" src="../assets/images/intro/rightSneaker.png" alt="rightSneaker">
      </div>
    </div>
  </section>
  <section class="container releases-section">
    <div class="releases">
      <div class="releases-line">
        <h3 class="infinite-header">New Releases</h3>
        <a class="infinite-link-dark" href="browse-sneakers.html">View All</a>
      </div>
      <div class="releases-container">
        {{#each home.products}}
          {{>blocks/shared/product-card}}
        {{/each}}
      </div>
    </div>
  </section>
  <section class="homepage-authenticity">
    <div class="container homepage-authenticity-text-container">
      <h2 class="homepage-authenticity-text">
        We Feel You, No One Should Ever Spend Money On Fake Sneakers.
        Or Have To Spend Hundreds To Rock The Real Ones.
      </h2>
      <a href="authenticity-guarantee.html" class="button-white infinite-button">Authenticity
        Guarantee</a>
    </div>
  </section>
  <section class="clean">
    <h2 class="clean-text">
      How we clean
    </h2>
    <img class="clean-image" src="../assets/images/homepage-section/section-clean.jpg" alt="How we clean">
    <a href="how-we-clean.html" class="infinite-link mx-auto mx-lg-0">Learn More</a>
  </section>
  {{> blocks/shared/action-section
    action-text="Same Sneakers, Better Prices"
    action-href="browse-sneakers.html"
    action-src="../assets/images/homepage-section/section-action.png"
  }}
  <div class="work-cycle">
    {{> blocks/shared/how-it-works ways-to-rent=false home=true}}
    <section class="container works">
      <h2 class="infinite-header text-center works-main-title">
        Two Ways
        <span class="subheader-text">to Become a Sneakerhead</span>
      </h2>
      <div class="works-items">
        <div class="works-item">
          <div class="advantages-item-text">
            <h4 class="infinite-header-small">
              Unlimited Rentals
              <span class="subheader-text-small">Price $249/Month</span>
            </h4>
          </div>
          <div class="advantages-item-list">
            <ul class="advantages-list infinite-text text-grey">
              <li>Rent Any Pair of Sneakers for Free</li>
              <li>Rent Sneakers For 4 or 8 Days</li>
              <li>Rent Sneakers On Rotation</li>
              <li>Free Shipping And Insurance</li>
            </ul>
          </div>
          <div class="advantages-item-action">
            <a href="browse-sneakers.html" class="infinite-button advantages-button">Rent Now</a>
            <a href="ways-to-rent.html" class="infinite-link">Learn More</a>
          </div>
        </div>
        <div class="works-item">
          <div class="advantages-item-text">
            <h4 class="infinite-header-small">
              One-Time Rental
              <span class="subheader-text-small">Price Starting at $30/Rental</span>
            </h4>
          </div>
          <div class="advantages-item-list">
            <ul class="advantages-list infinite-text text-grey">
              <li>Reserve SneakersFor Future Plans</li>
              <li>Rent Sneakers For 4 or 8 Days</li>
              <li>Book For As Soon As Tommorow Or Months From Now</li>
              <li>Free Return Shipping</li>
            </ul>
          </div>
          <div class="advantages-item-action">
            <a href="browse-sneakers.html" class="infinite-button advantages-button">Rent Now</a>
            <a href="ways-to-rent.html" class="infinite-link">Learn More</a>
          </div>
        </div>
        <div class="works-item">
          <img class="advantages-image" src="../assets/images/homepage-section/section-ways.jpg"
               alt="Our Advantages">
        </div>
      </div>
    </section>
    <section class="container testimonials">
      <h2 class="infinite-header text-center">
        What They Say
      </h2>
      <div class="works-items">
        <div class="works-item">
          <div class="testimonials-header">
            <img class="testimonials-image" src="../assets/images/homepage-section/testimonials-1.jpg"
                 alt="Jessica Johns">
            <p class="infinite-header-small">
              Jessica Johns
              <span class="testimonials-date">18 hour ago</span>
            </p>
          </div>
          <p class="infinite-text text-grey">
            Amazing sneakers! Adidas Continental 80 is very well-made.
            I have rented it for 3 months and very happy. It"s so soft,
            comfortable and high quality.
          </p>
        </div>
        <div class="works-item">
          <div class="testimonials-header">
            <img class="testimonials-image" src="../assets/images/homepage-section/testimonials-2.jpg"
                 alt="Alex Lawsone">
            <p class="infinite-header-small">
              Alex Lawsone
              <span class="testimonials-date">13 hour ago</span>
            </p>
          </div>
          <p class="infinite-text text-grey">
            I"m so exited of my rental. Sneakers is comfortable, refreshing,
            funky, and smart-looking. Thank you for good service!
          </p>
        </div>
        <div class="works-item">
          <div class="testimonials-header">
            <img class="testimonials-image" src="../assets/images/homepage-section/testimonials-3.jpg"
                 alt="Ygritte Lesley ">
            <p class="infinite-header-small">
              Ygritte Lesley
              <span class="testimonials-date">10 hour ago</span>
            </p>
          </div>
          <p class="infinite-text text-grey">
            Thank you for the quality sneakers and amazing service. I"m satisfied
            and happy with my rental and will rent again.
          </p>
        </div>
      </div>
    </section>
  </div>
  <section class="action-2">
    <h2 class="infinite-title action-2-text">
      Become the Sneakerhead You"ve Always Dreamed of
    </h2>
    <a href="browse-sneakers.html" class="infinite-button action-2-link">Rent Now</a>
    <img class="action-2-image" src="../assets/images/homepage-section/section-action-2.png" alt="Lucky You Are!">
  </section>
</main>
