<footer class="faq-footer">
  <div class="container faq-container faq-footer-container">
    <h2 class="faq-title">FAQ</h2>

    <ul class="faq-list">
      <li class="faq-list-item">
        <a href='browse-sneakers.html' class="faq-list-link">Browse Sneakers</a>
      </li>
      <li class="faq-list-item">
        <a href='how-we-clean.html' class="faq-list-link">How We Clean</a>
      </li>
      <li class="faq-list-item">
        <a href='ways-to-rent.html' class="faq-list-link">Ways to Rent</a>
      </li>
      <li class="faq-list-item">
        <a href='authenticity-guarantee.html' class="faq-list-link">Authenticity Guarantee</a>
      </li>
    </ul>

    <ul class="faq-socials">
      <li class="faq-socials-item">
        <a class="faq-social-link facebook-link" href="https://www.facebook.com" target="_blank"
           rel="noopener noreferrer">
          <i class="fab fa-facebook-f"></i>
        </a>
      </li>
      <li class="faq-socials-item">
        <a class="faq-social-link instagram-link" href="https://www.instagram.com" target="_blank"
           rel="noopener noreferrer">
          <i class="fab fa-instagram"></i>
        </a>
      </li>
      <li class="faq-socials-item">
        <a class="faq-social-link twitter-link" href="https://twitter.com" target="_blank"
           rel="noopener noreferrer">
          <i class="fab fa-twitter"></i>
        </a>
      </li>
    </ul>
  </div>
</footer>
