<header class="faq-header">
  <div class="container faq-container">
    <div class="faq-top-line">
      <h2 class="faq-title">
        FAQ's
      </h2>
      <a href='home.html' class="faq-header-link">
        <svg class="faq-header-icon" width="14" height="14" viewBox="0 0 14 14"
             xmlns="http://www.w3.org/2000/svg">
          <title>Group 65</title>
          <g stroke="#fff" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
            <path d="M11.5 6.73v6.77H.5v-11h7.615M4.5 9.5l7-7M13.5 5.5v-5h-5"></path>
          </g>
        </svg>
        <span>Go to Infinite Selection</span>
      </a>
    </div>
    <h1 class="faq-headline">Find the answers to our most common questions.</h1>
    <form action="echo" autocomplete="off" class="faq-form ">
      <input type="text" autocomplete="off" class="faq-search" placeholder="Search for articles..."
             name="faq">
    </form>
  </div>
</header>
